body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(63, 63, 63);
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 390px) {
    font-size: 10px;
}
header {
    background-color:rgb(201, 70, 70);
    width: 100%;
    height: 65px;
    text-align: center;
    line-height: 65px;
    font-size: 25px;
}
main {
    width: 1000px;
    margin: auto;
}
@media screen and (max-width: 1000px) {
    main {
        width: 100%;
        margin: 0;
    }
}
main #list {
    list-style: none;
    margin: 0;
    padding: 0;
}
main #list li {
    display: block;
    width: 100%;
    height: 45px;
    border: 1px solid rgb(63, 63, 63);
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 2.5px 0;
    box-sizing: border-box;
}
main #list li input {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}
main #list .name {
    flex: max-content;
}
main #list .duedate {
    margin: 0 15px;
    color: rgb(194, 193, 193);
}
footer {
    width: 1000px;
    margin: auto;
    height: 45px;
    display: grid;
    grid-template-columns: auto 200px 45px;
    grid-gap: 5px;
    align-items: center;
    align-self: flex-end;
    box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
    footer {
        width: 100%;
        margin: 0;
    }
}
footer input {
    border: 1px solid rgb(63, 63, 63);
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    height: 45px;
    color: white;
    box-sizing: border-box;
}
footer input:focus {
    outline: none;
}
footer #name {
    padding-left: 10px;
}
@media screen and (max-width: 600px) {
    footer {
        grid-template-columns: auto 100px 45px;
    }
    #duedate {
        width: 100px;
    }
}
footer #add {
    color: white;
    display: inline;
    border: 1px solid rgb(150, 50, 50);
    background-color: rgb(201, 70, 70);
    border-radius: 5px;
    height: 45px;
    width: 45px;
    margin-bottom: 1px;
    box-sizing: border-box;
}
.disabled {
    opacity: 0.6;
}